.page-header {
  background-color: black;
  color: #fff;
  display: flex;
  position: absolute;

  .test {
    color: #fff;
  }

  /* ------------------------------------*\
  #PAGE HEADER
\*------------------------------------ */
}
