@font-face {
  font-family: 'Roboto';
  src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: 'Lucida-Grande';
  src: url(../fonts/LucidaGrandeBold.ttf);
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  color: #4b4b4b;
}

main {
  max-width: 1440px;
}

h1, h2, h3, h4, p, ul {
  margin: 0;
  padding: 0;
  font-weight: 400;
}

a {
  text-decoration: none;
}

input {
  border: none;
  padding: 0;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.section-title {
  align-self: center;
  text-align: center;
  text-transform: capitalize;
  font-size: 44px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: -0.04em;
}

.social-item {
  display: inline;
}

.uppercase {
  text-transform: uppercase;
  letter-spacing: 0.06em;
}

.btn {
  background-color: #ebcb80;
  border-radius: 50px;
  color: #4b4b4b;
  text-transform: uppercase;
  line-height: 19px;
  letter-spacing: 0.06em;
}

/* ---------------------------------------------------------------------------*\
                              #PAGE HEADER
\*--------------------------------------------------------------------------- */

.page-header {
  min-height: 720px;
  padding: 48px 150px 0px 150px;
  background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)),
  url(../images/Background.jpg);
  color: #ffffff;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 43px;
}

.header-logo {
  min-width: 165px;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-self: flex-end;
  margin-bottom: 2px;
}

.nav-item {
  text-transform: uppercase;
  letter-spacing: 0.06em;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  margin: 0 25px;
}

.header-social {
  display: flex;
  justify-content: space-between;
  width: 165px;
}

.banner-description {
  margin: 72px 0px 53px 0px;
  max-width: 25ch;
}

.banner-video {
  display: grid;
  place-items: center;
  min-width: 555px;
  min-height: 324px;
  background: url(../images/video-frame.jpg) no-repeat center;
}

.btn-play {
  opacity: 0.7;
}

/* ---------------------------------------------------------------------------*\
                              #SECTION FEATURES
\*--------------------------------------------------------------------------- */

.features {
  align-items: center;
  min-height: 688px;
  padding: 80px 72px 0px 72px;
}

.features-subtitle {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  margin-top: 32px;
}

.features-content {
  display: flex;
  margin-top: 55px;
}

.features-article {
  justify-content: space-between;
  padding: 35px 70px 0px 90px;
}

.article-item {
  display: flex;
  align-items: flex-start;
}

.article-img-container {
  display: flex;
  justify-content: center;
  min-width: 53px;
  padding-top: 10px;
}

.article-content {
  max-width: 30ch;
  margin-left: 20px;
}

.article-title {
  line-height: 30px;
  font-weight: 400;
  margin-bottom: 7px;
}

/* ---------------------------------------------------------------------------*\
                              #SECTION DOWNLOAD
\*--------------------------------------------------------------------------- */

.download {
  align-items: center;
  min-height: 425px;
  padding-top: 163px;
  background-image: url(../images/bg-download.jpg);
  color: #ffffff;
}

.download-description {
  max-width: 62ch;
  text-align: center;
  margin-top: 23px;
}

.btn-download {
  margin-top: 42px;
  padding: 15px 58px;
}

/* ---------------------------------------------------------------------------*\
                              #SECTION TESTIMONIALS
\*--------------------------------------------------------------------------- */

.testimonials {
  align-items: center;
  min-height: 804px;
  padding-top: 72px
}

.customers-table {
  display: flex;
  justify-content: center;
  margin-top: 28px;
}

.customer {
  display: flex;
  align-items: flex-start;
  margin: 6px 16px;
  padding: 37px 38px 48px 41px;
}

.box-shadow {
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.customer-img {
  min-width: 96px;
}

.customer-info {
  margin-left: 28px;
}

.customer-name {
  text-transform: uppercase;
  line-height: 32px;
  letter-spacing: 0.06em;
}

.customer-job {
  line-height: 18px;
  color: #7d7d7d;
  padding-bottom: 13px;
  border-bottom: 2px solid #f6f6f6;
}

.customer-comment {
  max-width: 39ch;
  margin-top: 30px;
}

.customer-social {
  margin-top: 24px;
}

.customer-social .social-item {
  margin-right: 10px;
}

/* ---------------------------------------------------------------------------*\
                              #SECTION PRICING
\*--------------------------------------------------------------------------- */

.pricing {
  align-items: center;
  min-height: 612px;
  background-color: #f6f6f6;
  padding-top: 68px;
}

.list-plan {
  display: flex;
  justify-content: center;
  margin-top: 52px;
}

.plan {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 270px;
  margin: 0px 34px;
  padding-top: 40px;
  padding-bottom: 36px;
  border-radius: 8px;
}

.plan-1 {
  background: linear-gradient(224.09deg, rgba(255, 255, 255, 0.7) 5.13%, 
  rgba(255, 255, 255, 7e-05) 90.88%), #4b4b4b;
  background-blend-mode: soft-light;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  color: #ffffff;
}

.plan-2 {
  background: linear-gradient(225deg, rgba(255, 255, 255, 0.5) 0%, 
  rgba(255, 255, 255, 0.0001) 100%), #ebcb80;
  background-blend-mode: soft-light;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.plan-3 {
  background: linear-gradient(223.49deg, rgba(0, 0, 0, 0.0001) 4.85%, 
  rgba(0, 0, 0, 0.4) 96.5%), #4b4b4b;
  background-blend-mode: multiply;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  color: #ffffff;
}

.plan-title {
  font-size: 18px;
  line-height: 27px;
}

.plan-1 .plan-title, .plan-3 .plan-title {
  font-family: 'Lucida-Grande', sans-serif;
  font-weight: bold;
  color: #ebcb80;
}

.plan-price {
  display: flex;
  margin-top: 30px;
  font-size: 64px;
  line-height: 48px;
  letter-spacing: -0.04em;
}

.dollar {
  font-size: 24px;
  line-height: 28px;
  margin-top: 2px;
  margin-right: 10px;
}

.plan-period {
  font-size: 18px;
  line-height: 27px;
  margin-top: 15px;
  text-align: center;
}

.plan-detail {
  text-align: center;
  margin-top: 23px;
}

.btn-purchase {
  margin-top: 30px;
  padding: 15px 50px;
}

.plan-2 .btn-purchase {
  color: #ffffff;
  background-color: #4b4b4b;
}

/* ---------------------------------------------------------------------------*\
                              #SECTION PORTFOLIO
\*--------------------------------------------------------------------------- */

.portfolio {
  align-items: center;
  min-height: 1410px;
  padding: 66px 150px 0px 150px
}

.portfolio-body {
  margin-top: 54px;
}

.portfolio-row {
  display: flex;
  justify-content: center;
}

.row-item {
  position: relative;
}

.item-1, .item-4, .item-5
.item-6, .item-7 {
  flex-grow: 1;
}

.item-2, .item-3 {
  flex-grow: 2;
}

.portfolio-img {
  display: block;
  min-height: 380px;
}

.img-info {
  position: absolute;
  left: 420px;
  top: 58px;
  color: #ffffff;
}

.img-title, .project-type {
  text-transform: capitalize;
  font-size: 32px;
  line-height: 42px;
  letter-spacing: -0.03em;
}

.img-time {
  margin-top: 5px;
  margin-left: 2px;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.06em;
}

.rectangle-1 {
  margin-top: 31px;
  margin-left: 5px;
  width: 32px;
  height: 6px;
  background-color: #ffffff
}

.img-detail {
  margin-top: 38px;
  max-width: 33ch;
}

.project-info {
  min-width: 340px;
  padding: 60px 0px 0px 40px;
  background-color: #f6f6f6;
}

.project-author {
  margin-top: 5px;
  margin-left: 2px;
  font-size: 18px;
  line-height: 30px;
}

.rectangle-2 {
  margin-top: 31px;
  margin-left: 5px;
  width: 32px;
  height: 6px;
  background-color: #4b4b4b;
}

.project-title {
  margin-top: 37px;
  margin-left: 5px;
  text-transform: capitalize;
  font-size: 64px;
  line-height: 54px;
  letter-spacing: -0.03em;
  max-width: 6ch;
}

.list-viewer-stats {
  display: flex;
  margin-top: 24px;
  font-size: 12px;
  line-height: 24px;
}

.viewer-stat  {
  display: flex;
  align-items: center;
  margin: 0px 15px;
}

.viewer-icon {
  margin-right: 6px;
}

.portfolio-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  margin-top: 65px;
}

.pagination-page {
  margin: 0px 18px;
  font-size: 18px;
  line-height: 24px;
  color: #4b4b4b;
}

.pagination-page.active {
  display: grid;
  place-content: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  color: #ebcb80;
}

.pagination-prev, .pagination-next {
  margin: 0px 42px;
  padding-top: 5px;
}

/* ---------------------------------------------------------------------------*\
                              #SECTION TEAM
\*--------------------------------------------------------------------------- */

.team {
  display: flex;
  min-height: 361px;
  padding-top: 229px;
  padding-left: 832px;
  background: linear-gradient(0deg, rgba(75, 75, 75, 0.2), 
  rgba(75, 75, 75, 0.2)), url(../images/bg-team.jpg);
  background-blend-mode: multiply, normal;
  color: #ffffff;
}

.teammate-name {
  text-transform: capitalize;
  font-size: 32px;
  line-height: 42px;
  letter-spacing: -0.025em;
}

.teammate-position {
  margin-top: 11px;
  font-size: 18px;
  line-height: 30px;
}

.teammate-description {
  margin-top: 22px;
  max-width: 40ch;
}

.vertical-dotnav {
  margin-top: 100px;
  margin-left: 89px;
}

.dot {
  width: 10px;
  height: 10px;
  border: 2px solid #ffffff;
  box-sizing: border-box;
  border-radius: 7.5px;
  margin: 6px 0px;
}

.dot-active {
  background-color: #ffffff;
}

/* ---------------------------------------------------------------------------*\
                              #SECTION CONTACT
\*--------------------------------------------------------------------------- */

.contact {
  min-height: 797px;
  padding-top: 67px;
}

.contact-body {
  display: flex;
  align-items: center;
  padding-left: 147px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  margin-left: 80px;
}

.form-input {
  font-size: 18px;
  line-height: 27px;
  padding-bottom: 5px;
  border-bottom: 1px solid #7d7d7d;
}

.name-email {
  display: flex;
}

.input-name,
.input-email {
  max-width: 166px;
}

.input-email {
  margin-left: 29px;
}

.input-message {
  max-width: 360px;
  margin-top: 38px;
}

.btn-submit {
  align-self: center;
  margin-top: 58px;
  padding: 15px 70px;
}

.contact-info {
  margin-left: 102px;
}

.info-location,
.info-mail,
.info-phone {
  display: flex;
  max-width: 30ch;
}

.info-mail {
  margin-top: 23px;
}

.info-phone {
  margin-top: 26px;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-width: 19px;
  margin-right: 12px;
  padding-top: 5px;
}

.contact-icon {
  float: left;
}

.contact-social {
  margin-top: 40px;
}

.contact-social .social-item {
  margin-right: 30px;
}

.contact-map {
  display: block;
  min-height: 400px;
}

/* ---------------------------------------------------------------------------*\
                              #PAGE FOOTER
\*--------------------------------------------------------------------------- */

.page-footer {
  display: flex;
  min-height: 336px;
  padding-top: 38px;
  padding-left: 151px;
  background-color: #4b4b4b;
  color: #ffffff;
}

.hofmann-title {
  padding-left: 12px;
  font-size: 36px;
  line-height: 42px;
  color: #ebcb80;
}

.hofmann-describe {
  margin-top: 8px;
  margin-bottom: 24px;
  font-size: 18px;
  line-height: 24px;
  max-width: 27ch;
}

.subscribe-form {
  margin-top: 25px;
}

.subscribe-label {
  margin-bottom: 19px;
  font-size: 18px;
  line-height: 21px;
}

.subscribe-input {
  display: flex;
  border: 1px solid #7d7d7d;
  box-sizing: border-box;
  border-radius: 4px;
}

.subscribe-email {
  padding-left: 18px;
  flex-grow: 1;
  background-color: #4b4b4b;
}

.subscribe-email::placeholder {
  color: #ffffff;
  opacity: 0.5;
}

.footer-right {
  margin-left: 313px;
  padding-top: 44px;
}

.footer-nav {
  display: flex;
}

.nav-col-2 {
  margin-left: 121px;
}

.nav-col-3 {
  margin-left: 93px;
}

.footer-nav a {
  margin: 6px 0px;
  text-transform: capitalize;
  font-size: 18px;
  color: #ffffff;
}

.follow-us {
  margin-top: 41px;
  margin-left: 194px;
}

.follow-header {
  margin-bottom: 23px;
  font-size: 18px;
}

.follow-social .social-item {
  margin-right: 33px;
}